$input-placeholder-color: #c3c4c7!important;
[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    font-weight: 300;
    color: #464e5b;
    border: 1px solid #c3c4c7;
    border-radius: 5px;
    padding: 0 20px;
    margin-bottom: 0;
    box-shadow: none;
    text-overflow: ellipsis;
    @media screen and (min-width: 600px) {
        padding: 0 40px;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
    }
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #464e5b;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: #464e5b;
    }
    &:-ms-input-placeholder {
        /* IE 10+ */
        color: #464e5b;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: #464e5b;
    }
    &:focus {
        outline: none;
        border: 1px solid #c3c4c7;
        background-color: #ffffff;
        box-shadow: none;
        transition: none;
    }
}

.cod {
    width: 120px;
}


.has-error {
    [type='text'],
    [type='password'],
    [type='date'],
    [type='datetime'],
    [type='datetime-local'],
    [type='month'],
    [type='week'],
    [type='email'],
    [type='number'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='url'],
    [type='color'],
    textarea {
        color: #e41239;
        border: 1px solid #e41239;
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #e41239;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            color: #e41239;
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            color: #e41239;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            color: #e41239;
        }
        
    }
}

.has-success {
    [type='text'],
    [type='password'],
    [type='date'],
    [type='datetime'],
    [type='datetime-local'],
    [type='month'],
    [type='week'],
    [type='email'],
    [type='number'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='url'],
    [type='color'],
    textarea {
        color: #22a212;
        border: 1px solid #22a212;
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #22a212;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            color: #22a212;
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            color: #22a212;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            color: #22a212;
        }
        
    }
}


.form-column {
    width: 33.3%;
    float: left;
    padding: 0 15px;
}

label {
    margin-bottom: 10px;
}

.form-control {
    border: none;
    border-bottom: 1px solid #bdd5f7;
    padding-left: 40px; 
    border-radius: 0;
    &:focus {
        border: none;
        border-bottom: 1px solid #bdd5f7;
    } 
}

.form-group {
    margin-bottom: 20px; 
    &--inline {
        width: 33.3%;   
        display: inline-block;  
        vertical-align: top;    
    }   
    &--wr {
        font-size: 0;   
    }
    &--padding {
        padding: 0 10px;    
    }
}

.control-wr {
    position: relative; 
    svg {
        position: absolute; 
        width: 12px;    
        height: 23px;   
        left: 15px; 
        top: 50%;
        transform: translate(0, -50%); 
    }
}

.nice-select {
    &:after {
        @include css-triangle(5px, #0054b8, down);
    }
}

.select-wrapper,
.input-wrapper {
    margin: 0 -15px;
}

.select-padding,
.input-padding {
    padding: 0 5px;
    @media screen and (min-width: 500px) {
        padding: 0 22px;
    }
}

.personal-label {
    font-size: 16px;  
    line-height: 16px;      
    color: #464e5b;
    @media screen and (min-width: 500px) {
        font-size: 18px; 
        line-height: 20px;       
    }
}

.label-margin {
    margin-bottom: 10px;    
}






.prettydropdown {
    position: relative;
    min-width: 72px;
    /* 70px + borders */
    display: inline-block;
    width: 100% !important;
    /* height: 40px;  
    @media screen and (min-width: 500px) {
        height: 50px;   
    } */
}

.prettydropdown.loading {
    min-width: 0;
}

.prettydropdown > ul {
    position: absolute;
    top: 0;
    border-radius: 5px;
    left: 0;
    right: 0;
    /* height: 40px;   */ 
    width: 100%;
    background: #fff;
    border: 1px solid #c3c4c7;
    box-sizing: content-box;
    color: #464e5b;
    cursor: pointer;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
    z-index: 1;
    max-height: none !important;
    margin: 0!important;  
    /* @media screen and (min-width: 500px) {
        height: 50px;   
    } */
    & + select {
        margin: 0;  
    }
}

.prettydropdown.has-success {
    ul {
        border: 1px solid #22a212;
    }
}

.prettydropdown.loading > ul {
    visibility: hidden;
    white-space: nowrap;
}

.prettydropdown > ul:focus,
.prettydropdown:not(.disabled) > ul:hover {
    border-color: #7f7f7f;
}

.prettydropdown:not(.disabled) > ul.active {
    width: auto;
    max-height: none !important;
    border-color: #1e90ff;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
}

.prettydropdown > ul.active:focus {
    outline: none;
}

.prettydropdown > ul.active.reverse {
    top: auto;
    bottom: 0;
}

.prettydropdown > ul > li {
    position: relative;
    min-width: 70px;
    width: 100% !important;
    height: 40px;
    /* 50px - borders */
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-sizing: border-box;
    display: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* 48px - borders */
    margin: 0;
    padding-top: 7px;  
    padding-left: 20px;
    padding-right: 40px;
    font-size: 15px;
    color: #222;
    font-weight: 300;
    @media screen and (min-width: 600px) {
        height: 50px;
        font-size: 18px;
        padding-top: 10px;  
        padding-left: 40px;
    }
}

.prettydropdown.loading > ul > li {
    min-width: 0;
    display: block;
    padding-right: 0.8rem;
}

.prettydropdown > ul:not(.active) > li:not(.selected):first-child {
    color: transparent;
    /* Prevent FOUC */
}

.prettydropdown > ul > li:first-child,
.prettydropdown > ul.active > li {
    display: block;
}

.prettydropdown > ul.active > li:not(.label):hover,
.prettydropdown > ul.active > li.hover:not(.label),
.prettydropdown > ul.active > li:first-child:hover:after {
    background: #1e90ff;
    color: #fff;
}

.prettydropdown > ul.active > li.nohover {
    background: inherit !important;
    color: inherit !important;
}

.prettydropdown > ul.active > li.hover:before,
.prettydropdown > ul.active > li.nohover:after {
    border-top-color: #fff !important;
}

.prettydropdown > ul.active > li.hover:after,
.prettydropdown > ul.active > li.nohover:before {
    border-top-color: #1e90ff !important;
}

.prettydropdown.arrow > ul > li.selected:before,
.prettydropdown.arrow > ul > li.selected:after {
    position: absolute;
    top: 8px;
    bottom: 0;
    right: 8px;
    height: 16px;
    border: 8px solid transparent;
    /* Arrow size */
    box-sizing: border-box;
    content: '';
    display: block;
    margin: auto;
}

.prettydropdown.arrow.small > ul > li.selected:before,
.prettydropdown.arrow.small > ul > li.selected:after {
    top: 4px;
    height: 8px;
    border-width: 4px;
}

.prettydropdown.arrow > ul > li.selected:before {
    border-top-color: #a9a9a9;
    /* Arrow color */
}

.prettydropdown.arrow > ul > li.selected:after {
    top: 4px;
    /* Chevron thickness */
    border-top-color: #fff;
    /* Match background colour */
}

.prettydropdown.arrow.small > ul > li.selected:after {
    top: 2px;
    /* Chevron thickness */
}

.prettydropdown.arrow.triangle > ul > li.selected:after {
    content: none;
}

.prettydropdown > ul:hover > li.selected:before {
    border-top-color: #7f7f7f;
}

.prettydropdown > ul.active > li.selected:before,
.prettydropdown > ul.active > li.selected:after {
    border: none;
}

.prettydropdown > ul:not(.active) > li > span.checked {
    display: none;
}


/* Multi-Select */

.prettydropdown.multiple > ul > li.selected {
    overflow: hidden;
    padding-right: 2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.prettydropdown > ul > li > span.checked {
    clear: both;
    float: right;
    font-weight: bold;
    margin-right: 0.8rem;
}


/* Option Groups */

.prettydropdown > ul > li.label {
    cursor: default;
    font-weight: bold;
}

.prettydropdown > ul > li.label:first-child,
.prettydropdown.classic > ul > li.label ~ li.selected {
    border-top: none;
}

.prettydropdown > ul > li.label ~ li:not(.label):not(.selected),
.prettydropdown.classic > ul.active > li.label ~ li:not(.label) {
    padding-left: 1.6rem;
}


/* Classic Behavior */

.prettydropdown.classic > ul:not(.active) > li.selected:not(:first-child) {
    position: absolute;
    top: 0;
    display: block;
}


/* Disabled */

.prettydropdown.disabled,
.prettydropdown > ul > li.disabled {
    opacity: 0.3;
}

.prettydropdown.disabled > ul > li,
.prettydropdown > ul > li.disabled {
    cursor: not-allowed;
}


/* Divider Lines */

.prettydropdown.multiple > ul > li.selected + li,
.prettydropdown.multiple > ul.reverse > li.selected,
.prettydropdown > ul > li.label,
.prettydropdown > ul > li.label ~ li.selected {
    border-top-color: #dedede;
}





input:disabled, input[readonly], textarea:disabled, textarea[readonly] {
    background-color: #eaeaea;
    cursor: pointer;
}





/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 2px;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 2px; left: 3px;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}

.rools, 
.rools label {
    font-size: 18px;
    font-weight: 300;
    color: #464e5b;
}

.rools-italic {
    font-style: italic;
}