body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: $body-bg;
}

strong {
    font-weight: 500;   
}

.container {
    max-width: 785px;
    margin: 0 auto;
}

.registration-container {
    max-width: 985px;
    margin: 0 auto;
    padding: 0 15px;
    @media screen and (min-width: 500px) {
        padding: 0 24px;
    }
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    overflow: hidden;
}

.header,
.footer-wr {
    background-color: $brand-color;
}

.header {
    align-items: center;
    padding: $header-padding;
    -webkit-box-shadow: 0px 6px 18px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 18px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 18px -5px rgba(0, 0, 0, 0.75);
}

.logo {
    width: 75%;
    margin: 0 auto;
    display: block;
}

.calculator {
    .slick-slider {
        position: relative;
        &:after,
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 50px;
            -webkit-box-shadow: inset -5px 4px 202px 57px rgba(255, 255, 255, 1);
            -moz-box-shadow: inset -5px 4px 202px 57px rgba(255, 255, 255, 1);
            box-shadow: inset -5px 4px 202px 57px rgba(255, 255, 255, 1);
            z-index: 1;
        }
        &:before {
            left: auto;
            right: 0;
        }
    }
    &-top {
        padding-top: 20px;
        padding-bottom: 20px;
        @media screen and (min-width: 500px) {
            padding-top: 42px;
            padding-bottom: 53px;
        }
    }
    &-bottom {
        padding-bottom: 20px;
        @media screen and (min-width: 500px) {
            padding-bottom: 80px;
        }
    }
    &-money,
    &-days {
        font-size: 30px;
        color: $second-color;
        display: block;
        @media screen and (min-width: 500px) {
            font-size: 40px;
        }
    }
    &-days {
        font-size: 14px;
        font-weight: 300;
        color: #0a3660;
        text-transform: none;
        margin-top: 5px;
        @media screen and (min-width: 500px) {
            font-size: 20px;
            margin-top: 12px;
        }
    }
    &-heading {
        font-size: 14px;
        line-height: 22px;
        color: #464e5b;
        text-transform: uppercase;
        @media screen and (min-width: 500px) {
            font-size: 16px;
            line-height: 29px;
        }
    }
    &-info {
        padding: 0 20px;
        margin-bottom: 30px;
        @media screen and (min-width: 500px) {
            padding: 0 60px;
            margin-bottom: 80px;
        }
    }
}

.slick-slide {
    width: 100%;
    font-size: 30px;
    color: #464e5b;
    @media screen and (min-width: 500px) {
        font-size: 42px;
    }
}

.reg-calc {
    .slick-slide {
        font-size: 17px;
        color: $second-color;
        @media screen and (min-width: 500px) {
            font-size: 22px;
        }
    }
}

.slick-track {
    padding-top: 2px;
}

.days {
    font-size: 15px;
}

.registration {
    &-info,
    &-calc {
        color: #464e5b;
        font-size: 16px;
        line-height: 22px;
        display: inline-block;  
        vertical-align: middle; 
        width: 50%; 
        @media screen and (min-width: 500px) {
            width: 100%;    
            display: block; 
            font-size: 22px;
        }
        [class^="icon-"] {
            font-size: 15px;   
        }
    }
    &-calc {
        text-align: right;
        @media screen and (min-width: 500px) {
            text-align: center;
        }
        &--inverse {
            color: #0054b8;
        }
    }
    &-info {
         @media screen and (min-width: 500px) {
            margin-bottom: 20px;    
         }
        
    }
    &-btn {
        padding-top: 25px;
        @media screen and (min-width: 500px) {
            padding-top: 45px;
        }
    }
    &-top {
        padding-top: 40px;
        .columns {
            .registration-item {
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: -.625rem;
                    width: 3px;
                    background-color: #f2f2f2;
                }
            }
            &:last-child {
                .registration-item {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
    &-tabs {
        padding-top: 55px;
    }
    &-wrapper {
        @media screen and (min-width: 500px) {
            @include clearfix;
        }
    }
    &-item {
        font-size: 0;   
        width: 100%;
        margin-bottom: 20px;    
        @media screen and (min-width: 500px) {
            width: 33.3%;
            float: left;
            margin-bottom: 0;   
            text-align: center; 
        }
    }
}

.tabs {
    border: none;
    @media screen and (min-width: 500px) {
        display: flex;
        align-items: stretch;
    }
}

.tabs-title {
    height: 60px;
    line-height: 60px;
    float: none;
    width: 100%;
    text-align: center;
    background-color: #f2f2f2;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    @media screen and (min-width: 500px) {
        height: 75px;
        line-height: 75px;
        width: 33.3%;
        border-right: 1px solid #fff;
        border-bottom: none;
    }
    &:last-child {
        border-right: none;
        border-bottom: none;
    }
    &.is-active {
        background-color: $second-color;
    }
    a {
        font-size: 19px;
        color: #464e5b;
        opacity: 0.5;
        display: inline-block;
        vertical-align: middle;
        padding: 0 20px;
        line-height: 20px;
        align-content: center;
        background-color: transparent;
        @media screen and (min-width: 600px) {
            font-size: 22px;
        }
        &:hover {
            background-color: transparent;
        }
        span {
            font-size: 15px;
        }
    }
}

.tabs-content {
    border: none;
}

.tabs-panel {
    padding: 30px 0 0;
}

.tabs-title>a:focus,
.tabs-title>a[aria-selected='true'] {
    background-color: transparent;
    color: #ffffff;
    opacity: 1;
}

.footer {
    display: table-footer-group;
    &-wrapper {
        font-size: 0;
        padding: 20px;
        @media screen and (min-width: 500px) {
            padding: 45px 50px;
        }
    }
    &-img {
        display: inline-block;
        vertical-align: middle;
        width: 33.3%;
    }
}


// card

.card {
    &-holder {
        padding-top: 25px;
        color: #464e5b;
        font-size: 19px;    
        font-weight: 300;  
        @media screen and (min-width: 500px) {
            font-size: 22px;
        } 
    }
    &-info {
        background-color: #e5eef8;
        border: 1px solid #4f89ce;
        border-radius: 5px;
        padding: 20px;
        font-size: 19px;
        font-weight: 300;
        color: #464e5b;
        margin-bottom: 25px;
        @media screen and (min-width: 500px) {
            padding: 34px;
            font-size: 22px;
            margin-bottom: 55px;
        }
    }
    &-example {
        color: #7b7b7b;
        font-size: 15px;
        padding: 15px 0;
        @media screen and (min-width: 500px) {
            padding: 25px 0 35px;
        }
    }
    &-blocked {
        font-size: 19px;    
        font-weight: 500;   
        @media screen and (min-width: 500px) {
            font-size: 22px;
        }
    }
    &-warning {
        width: 100%; 
        margin: 0 auto; 
        font-weight: 300;  
        @media screen and (min-width: 500px) {
            width: 80%;
        }
        p {
            font-size: 0;
        }
        span {
            display: inline-block;  
            vertical-align: middle;
            font-size: 15px;    
            margin-bottom: 20px;    
        }
    }
    &-icon {
        width: 32px;    
        height: 32px;
        margin-right: 20px; 
        svg {
            width: 32px;    
            height: 32px;   
        }
        
    }
    &-text {
        width: calc(100% - 52px);
    }
    &-how {
        padding: 0; 
        margin: 0;  
        list-style-type: none;  
        font-size: 19px;    
        font-weight: 300;   
        color: #464e5b;
        @media screen and (min-width: 500px) {
            font-size: 22px;
        }
    }
}