body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: $body-bg;
}

strong {
    font-weight: 500;
}

.container {
    max-width: 785px;
    margin: 0 auto;
}

.registration-container {
    max-width: 985px;
    margin: 0 auto;
    padding: 0 15px;
    @media screen and (min-width: 500px) {
        padding: 0 24px;
    }
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    overflow: hidden;
}

.header,
.footer-wr {
    background-color: $brand-color;
}

.header {
    align-items: center;
    padding: $header-padding;
    -webkit-box-shadow: 0px 6px 18px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 18px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 18px -5px rgba(0, 0, 0, 0.75);
    &-inverse {
        background-color: #fff;
        box-shadow: none;
    }
}

.logo {
    width: 75%;
    margin: 0 auto;
    display: block;
}

.calculator {
    .slick-slider {
        position: relative;
        &:after,
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 140px;
            border-radius: 30px;    
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0.47+100 */
            background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.47) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.47) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.47) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#78ffffff',GradientType=0 ); /* IE6-9 */
            z-index: 1;
            @media screen and (min-width: 400px) {
                width: 190px;
            }
            @media screen and (min-width: 500px) {
                width: 140px;
            }
        }
        &:before {
            left: auto;
            right: 0;
        }
    }
    &-top {
        padding-top: 20px;
        padding-bottom: 20px;
        @media screen and (min-width: 500px) {
            padding-top: 42px;
            padding-bottom: 53px;
        }
    }
    &-bottom {
        padding-bottom: 20px;
        @media screen and (min-width: 500px) {
            padding-bottom: 80px;
        }
    }
    &-money,
    &-days {
        font-size: 30px;
        color: $second-color;
        display: block;
        @media screen and (min-width: 500px) {
            font-size: 40px;
        }
    }
    &-days {
        font-size: 14px;
        font-weight: 300;
        color: #0a3660;
        text-transform: none;
        margin-top: 5px;
        @media screen and (min-width: 500px) {
            font-size: 20px;
            margin-top: 12px;
        }
    }
    &-heading {
        font-size: 14px;
        line-height: 22px;
        color: #464e5b;
        text-transform: uppercase;
        @media screen and (min-width: 500px) {
            font-size: 16px;
            line-height: 29px;
        }
    }
    &-info {
        padding: 0 20px;
        margin-bottom: 30px;
        @media screen and (min-width: 500px) {
            padding: 0 60px;
            margin-bottom: 80px;
        }
    }
}

.slick-slide {
    width: 100%;
    font-size: 30px;
    color: #464e5b;
    @media screen and (min-width: 500px) {
        font-size: 42px;
    }
    [class^="icon-"] {
        color: #464e5b;
    }
    &:focus {
        outline: none;
    }
}

.slick-list {
    text-align: center;
}

.reg-calc {
    .slick-slide {
        font-size: 17px;
        color: $second-color;
        
        @media screen and (min-width: 500px) {
            font-size: 22px;
            text-align: center;
        }
    }
}

.slick-track {
    padding-top: 2px;
}

.slick-prev,
.slick-next {
    position: absolute;
    left: 0;
    top: 2px;
    cursor: pointer;
    z-index: 3;
    display: none!important;
    &.active {
        display: block !important;
    }
}

.input-date {
    padding: 0;
    font-size: 17px;
    display: inline-block;
    width: 130px;
    height: 25px;
    border: none;
    font-weight: 400;
    color: #464e5b;
    @media screen and (min-width: 500px) {
        font-size: 22px;
    }
    &:focus {
        border: none;
    }
}

.slick-next {
    left: auto;
    right: 0;
}

.days {
    font-size: 15px;
}

.registration {
    &-tabs {
        padding-top: 55px;
    }
    &-info,
    &-calc {
        color: #464e5b;
        font-size: 16px;
        line-height: 22px;
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        
        @media screen and (min-width: 500px) {
            width: 100%;
            display: block;
            font-size: 22px;
        }
        [class^="icon-"] {
            font-size: 15px;
            cursor: pointer;
        }
    }
    &-calc {
        text-align: center;
        @media screen and (min-width: 500px) {
            text-align: center;
        }
        &--inverse {
            color: #0054b8;
        }
    }
    &-info {
        @media screen and (min-width: 500px) {
            margin-bottom: 20px;
        }
    }
    &-btn {
        padding-top: 25px;
        @media screen and (min-width: 500px) {
            padding-top: 45px;
        }
    }
    &-top {
        padding-top: 40px;
        .columns {
            .registration-item {
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: -.625rem;
                    width: 3px;
                    background-color: #f2f2f2;
                }
            }
            &:last-child {
                .registration-item {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
    &-wrapper {
        @media screen and (min-width: 500px) {
            @include clearfix;
        }
    }
    &-item {
        font-size: 0;
        width: 100%;
        margin-bottom: 20px;
        @media screen and (min-width: 500px) {
            width: 33.3%;
            float: left;
            margin-bottom: 0;
            text-align: center;
        }
    }
}

.tabs {
    border: none;
    @media screen and (min-width: 500px) {
        display: flex;
        align-items: stretch;
    }
}

.tabs-title {
    height: 60px;
    line-height: 60px;
    float: none;
    width: 100%;
    text-align: center;
    background-color: #f2f2f2;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    @media screen and (min-width: 500px) {
        height: 75px;
        line-height: 75px;
        width: 33.3%;
        border-right: 1px solid #fff;
        border-bottom: none;
    }
    &:last-child {
        border-right: none;
        border-bottom: none;
    }
    &.is-active {
        background-color: $second-color;
    }
    &.success {
        background-color: $second-color;
        opacity: 0.5;
        
        a {
            color: #464e5b;
        }
    }
    a {
        font-size: 19px;
        color: #464e5b;
        opacity: 0.5;
        display: inline-block;
        vertical-align: middle;
        padding: 0 20px;
        line-height: 20px;
        align-content: center;
        background-color: transparent;
        @media screen and (min-width: 600px) {
            font-size: 22px;
        }
        &:hover {
            background-color: transparent;
        }
        span {
            font-size: 15px;
        }
    }
}

.tabs-content {
    border: none;
}

.tabs-panel {
    padding: 30px 0 0;
}

.tabs-title>a:focus,
.tabs-title>a[aria-selected='true'] {
    background-color: transparent;
    color: #ffffff;
    opacity: 1;
}

.footer {
    display: table-footer-group;
    &-wrapper {
        font-size: 0;
        padding: 20px;
        @media screen and (min-width: 500px) {
            padding: 45px 50px;
        }
    }
    &-img {
        display: inline-block;
        vertical-align: middle;
        width: 33.3%;
    }
}

.authorize {
    padding-top: 50px;
    @media screen and (min-width: 500px) {
        padding-top: 100px;
    }
    &-link {
        font-size: 15px;
        font-weight: 300;
        color: #153860;
        display: inline-block;
        padding-bottom: 30px;
        @media screen and (min-width: 500px) {
            padding-bottom: 50px;
            font-size: 25px;
        }
    }
}

// credit
.credit {
    padding-top: 70px;
    &-top {
        background-color: #1ab07c;
        padding: 10px;
        font-size: 17px; 
        color: #fff;
        font-weight: 400; 
        @media screen and (min-width: 500px) {
            padding: 20px;
            font-size: 22px; 
        }
        &--inverse {
            background-color: #16a285;
        }  
    }
    &-value,
    &-label {
        font-weight: 300;   
        font-size: 16px;    
        color: #464e5b;
        @media screen and (min-width: 500px) {
            font-size: 22px;    
        }
    }
    &-label {
        font-weight: 500;   
    }
    &-wrapper {
        border-radius: 3px; 
        -webkit-box-shadow: -2px 3px 59px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: -2px 3px 59px -5px rgba(0,0,0,0.75);
        box-shadow: -2px 3px 59px -5px rgba(0,0,0,0.75);  
        margin-bottom: 30px;    
    }
    &-list {
        padding: 10px;
        @media screen and (min-width: 500px) {
            padding: 20px;
        }    
        &--inverse {
            background-color: #d9e6f4;
        }
    }
    &-item {
        padding: 10px 0;
        border-bottom: 1px solid #f2f2f2; 
         @media screen and (min-width: 500px) {
            padding: 20px 0;
        }
        &:last-child {
            border-bottom: none;
        }
    }
    &-result {
        text-align: center;
        padding: 10px 0;
        margin: 0 10px; 
        font-size: 17px;    
        color: #1ab07c;
        border-bottom: 1px solid #f2f2f2; 
        @media screen and (min-width: 500px) {
            padding: 20px 0;
            font-size: 22px;   
            margin: 0 20px;  
        }
    }
}



// card
.card {
    &-holder {
        padding-top: 25px;
        color: #464e5b;
        font-size: 19px;
        font-weight: 300;
        @media screen and (min-width: 500px) {
            font-size: 22px;
        }
    }
    &-info {
        background-color: #e5eef8;
        border: 1px solid #4f89ce;
        border-radius: 5px;
        padding: 20px;
        font-size: 19px;
        font-weight: 300;
        color: #464e5b;
        margin-bottom: 25px;
        @media screen and (min-width: 500px) {
            padding: 34px;
            font-size: 22px;
            margin-bottom: 55px;
        }
    }
    &-example {
        color: #7b7b7b;
        font-size: 15px;
        padding: 15px 0;
        @media screen and (min-width: 500px) {
            padding: 25px 0 35px;
        }
    }
    &-blocked {
        font-size: 19px;
        font-weight: 500;
        @media screen and (min-width: 500px) {
            font-size: 22px;
        }
    }
    &-warning {
        width: 100%;
        margin: 0 auto;
        font-weight: 300;
        @media screen and (min-width: 500px) {
            width: 80%;
        }
        &--full {
            width: 100%;
            padding: 20px 0;
            span,
            p {
                margin-bottom: 0;
            }
        }
        p {
            font-size: 0;
        }
        span {
            display: inline-block;
            vertical-align: middle;
            font-size: 15px;
            margin-bottom: 20px;
        }
    }
    &-icon {
        width: 32px;
        height: 32px;
        margin-right: 20px;
        svg {
            width: 32px;
            height: 32px;
        }
    }
    &-text {
        width: calc(100% - 52px);
    }
    &-how {
        padding: 0;
        margin: 0;
        list-style-type: none;
        font-size: 19px;
        font-weight: 300;
        color: #464e5b;
        @media screen and (min-width: 500px) {
            font-size: 22px;
        }
    }
}

// personal 
.personal {
    &-wrapper {
        padding-top: 35px;
    }
    &-item {
        margin-bottom: 30px;
        @media screen and (min-width: 500px) {
            margin-bottom: 75px;
        }
    }
}

.close {
    padding-top: 3px;   
    cursor: pointer;
    float: right;   
    svg {
        display: inline-block;  
        width: 20px;    
        height: 20px;   
    }
}


// modal

.reveal {
    font-size: 18px;
    font-weight: 300;   
    color: #464e5b;
    height: auto;
    max-height: none;
    min-height: 0;   
    margin: 0 auto; 
    left: auto;
    @media screen and (min-width: 500px) {
        font-size: 20px;    
    }
    &.small {
        width: 80%; 
        padding: 20px;  
        @media screen and (min-width: 500px) {
            padding: 40px;  
            width: 75%; 
        }
    }
}

.modal-btn {
    font-size: 17px;    
    font-weight: 400;   
    text-transform: uppercase;
    color: #1ab07c;
    margin-left: 20px;  
    cursor: pointer;
}

.modal-cancel {
    font-size: 17px;    
    text-transform: uppercase;  
    font-weight: 400;   
    color: #aaacb0;
    cursor: pointer;
}

