.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	overflow-y: auto;
	background-color: #fff;
	transform: translate(-100%, 0);
	transition: transform 0.3s;
	z-index: 1000;
	@media screen and (min-width: 500px) {
		width: 350px;
		transform: translate(-350px, 0);
	}
	&.active {
		transform: translate(0, 0);
	}
	&-top {
		padding: 15px 24px;
		font-size: 22px;
		font-weight: 300;
		color: #fff;
		background-color: #0054b8;
		margin-bottom: 10px;
		-webkit-box-shadow: 0px 4px 17px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 17px -3px rgba(0,0,0,0.75);
box-shadow: 0px 4px 17px -3px rgba(0,0,0,0.75);
	}
	&-menu {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	&-item {
		position: relative;
	}
	&-link {
		display: block;
		padding: 15px 25px;
		font-size: 19px;
		font-weight: 300;
		color: #464e5b;
		background-color: #fff;
		transition: background-color 0.3s, color 0.3s;
		@media screen and (min-width: 500px) {
			font-size: 22px;
			padding: 25px;
		}
		&:hover,
		&:active {
			background-color: #f2f6fb;
			color: #0054b8;
		}
		svg {
			width: 22px;
			height: 22px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 15px;
		}
	}
	&-bottom {
		position: relative;
		font-size: 22px;
		font-weight: 300;
		color: #464e5b;
		padding: 25px;
		border-top: 1px solid #f8f8f8;
		&:hover,
		&:active {
			background-color: #f2f6fb;
			color: #0054b8;
		}
		svg {
			width: 22px;
			height: 22px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 15px;
		}
	}
	&-arrow {
		position: absolute;
		top: 50%;
		right: 30px;
		transform: translate(0, -50%);
		svg {
			display: inline-block;
			width: 13px;
			height: 13px;
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
	z-index: 999;
	&.active {
		opacity: 1;
		visibility: visible;
	}
}